@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h2>Home Page</h2>
</div>

@* <div class="row">
    <div class="col-2">
        <h1>Mobile Accessories<br>Powered by LYNE!</h1>
        <p>
            Essentials at Your Fingertips - Shop the Best <br>Mobile Accessories.
        </p>
        <a href="" class="btn">Explore Now &#8594;</a>`

    </div>
    <div class="col-2"></div>
    <img src="abc.png" />
</div> *@

<!----- featured categories ----->

@* <div class="categories">
    <div class="small-container">
        <div class="row">
            <div class="col-3">
                <img src="~/assets/HomePage_Images/pr3.jpg">
            </div>
            <div class="col-3">
                <img src="~/assets/HomePage_Images/pr2.jpg">
            </div>
            <div class="col-3">
                <img src="~/assets/HomePage_Images/pr1.jpg">
            </div>
        </div>

    </div>
</div> *@
<!----- featured categories ----->
@* <div class="small-container">
    <h2 class="title">Featured Categorys</h2>
    <div class="row">
        <div class="col-4">
            <img src="~/assets/HomePage_Images/buds1.jpg">
            <h4>Coolpods 44</h4>
            <div class="rating">
            </div>

            <p> ₹1000.00 </p>

        </div>
        <div class="col-4">
            <img src="~/assets/HomePage_Images/buds2.jpg">
            <h4>Coolpods 48</h4>
            <div class="rating">
            </div>

            <p> ₹1000.00 </p>

        </div>
        <div class="col-4">
            <img src="~/assets/HomePage_Images/buds3.jpg">
            <h4>Coolpods 29</h4>
            <div class="rating">
            </div>

            <p> ₹1000.00 </p>

        </div>
        <div class="col-4">
            <img src="~/assets/HomePage_Images/buds4.jpg">
            <h4>Coolpods 53</h4>
            <div class="rating">
            </div>

            <p> ₹1000.00 </p>

        </div>
    </div>
</div> *@

<!-----Category------>
@* <div class="offer">
    <div class="small-container">
        <div class="row">
            <div class="col-2">
                <img src="~/assets/HomePage_Images/ abcenhanced.png" class="offer-img">
            </div>
            <div class="col-2">
                <p>Exclusively Available on Store</p>
                <h1>Headphones</h1>
                <small>
                    The Headphones with 40mm size of speakers. Dual Pairing with Noise Reduction and 20 Hours of
                    Music Time.
                </small>
                <br> <a href="" class="btn">Buy Now &#8594;</a>
            </div>
        </div>
    </div>
</div> *@
