@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
}

<h1>@ViewData["Title"]</h1>
<partial name="_StatusMessage" model="Model.StatusMessage" />
<div class="text-center mt-4">
    <a asp-page="/Account/Login" class="btn btn-primary btn-lg">Go to Login</a>
</div>