@page
@model ResetPasswordModel
@{
    ViewData["Title"] = "Reset password";
}

<div id="reset-password-container" class="container py-5">
    <div class="row justify-content-center">
        <div class="col-lg-8 col-md-10">
            <div class="card p-5 shadow-lg">
                <h1 class="text-dark fw-bold text-center">@ViewData["Title"]</h1>
                <h2 class="text-muted text-center mb-4">Enter your new password below</h2>
                <hr />
                <form method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger text-center" role="alert"></div>
                    <input asp-for="Input.Code" type="hidden" />

                    <div class="form-floating mb-3">
                        <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                        <label asp-for="Input.Email" class="form-label"></label>
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>

                    <div class="form-floating mb-3">
                        <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Please enter your password." />
                        <label asp-for="Input.Password" class="form-label"></label>
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>

                    <div class="form-floating mb-3">
                        <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Please confirm your password." />
                        <label asp-for="Input.ConfirmPassword" class="form-label"></label>
                        <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                    </div>

                    <button type="submit" class="btn btn-primary btn-lg w-100">Reset Password</button>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
